body
{
    overflow: hidden;

    width: 100vw;
    height: 100vh;
    margin: 0;
}
#input-box {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
#input-box__input {
    width: 85vw;
}
#input-box__button {
    width: 10vw;
    margin: 0 auto;
}
#renderTarget,
#iframe
{
    width: 100%;
    height: 100%;
}
